<div class="container">
    <form (ngSubmit)="submitForm()">
        <div class="form-group">
            <input type="file" (change)="uploadFile($event)">
        </div>

        <div class="form-group">
            <button class="btn btn-danger btn-block btn-lg">Upload</button>
        </div>
    </form>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h2 class="tituloPrincipal">Lista de Destinatários</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <br>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Nome Completo</th>
                        <th>Telefone</th>
                        <th>CPF</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody *ngFor="let destinatario of listaDeDestinatarios">
                    <tr>
                        <th>{{ destinatario.id }}</th>
                        <td>{{ destinatario.nomeCompleto}}</td>
                        <td>{{ destinatario.telefone }}</td>
                        <td>{{ destinatario.cpf }}</td>
                        <td>{{ destinatario.email }}</td>
                        <td>{{ destinatario.endereco }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
