<h3>Atualizar Remetente</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form method="POST" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome Completo</label>
            <input type="text" class="form-control" id="nomeCompleto" required [(ngModel)]="remetente.nomeCompleto" name="nomeCompleto">
        </div>
        <div class="form-group">
            <label for="name">Telefone</label>
            <input type="text" class="form-control" id="telefone" required [(ngModel)]="remetente.telefone" name="telefone" mask="(00) 00000-0000">
        </div>
        <div class="form-group">
            <label for="name">CPF</label>
            <input type="text" class="form-control" id="cpf" required [(ngModel)]="remetente.cpf" name="cpf" mask="000.000.000-00">
        </div>
        <div class="form-group">
            <label for="name">Endereço</label>
            <input type="text" class="form-control" id="endereco" required [(ngModel)]="remetente.endereco" name="endereco">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" id="email" required [(ngModel)]="remetente.email" name="email">
        </div>
    
        <button type="submit" class="btn btn-success">Enviar!</button>
    </form>
</div>