<h3>Criar Remetente</h3>
<div [hidden]="submitted" style="width: 400px;">
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Nome Completo</label>
            <input type="text" class="form-control" name="nomeCompleto" id="nomeCompleto" required [(ngModel)]="remetente.nomeCompleto">
        </div>
        <div class="form-group">
            <label for="name">Telefone</label>
            <input type="text" class="form-control" name="telefone" id="telefone" required [(ngModel)]="remetente.telefone" placeholder="(##) #####-####" mask="(00) 00000-0000">
        </div>
        <div class="form-group">
            <label for="name">CPF</label>
            <input type="text" class="form-control" name="cpf" id="cpf" required [(ngModel)]="remetente.cpf" placeholder="000.000.000-00" mask="000.000.000-00">
        </div>
        <div class="form-group">
            <label for="name">Endereço</label>
            <input type="text" class="form-control" name="endereco" id="endereco" required [(ngModel)]="remetente.endereco">
        </div>
        <div class="form-group">
            <label for="name">Email</label>
            <input type="text" class="form-control" name="email" id="email" required [(ngModel)]="remetente.email">
        </div>

        <button type="submit" class="btn btn-success">Enviar!</button>
    </form>
</div>