<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/remetentes" class="nav-link" routerLinkActive="active">Lista de Remetentes</a>
    </li>
    <li class="nav-item">
      <a routerLink="/adicionar" class="nav-link" routerLinkActive="active">Adicionar Remetente</a>
    </li>
    <li class="nav-item">
      <a routerLink="/destinatarios" class="nav-link" routerLinkActive="active">Lista de Destinatarios</a>
    </li>
    <li class="nav-item">
      <a routerLink="/destinatarios/mensagem" class="nav-link" routerLinkActive="active">Mensagens</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer" style="padding: 10px; text-align: center; background-color: black; color: white; top: 0; margin: 10px 0;">
  <div class="container">
    <span>Luciano Galvão Jr, 2020 - Teste SCC4</span>
  </div>
</footer>