<div class="panel panel-primary">
    <div class="panel heading" style="border: 1px solid;">
        <h2>Lista de Remetentes</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped" style="border: 1px solid;">
            <thead>
                <tr>
                    <th style="text-align: center; border: 1px solid;">Nome Completo</th>
                    <th style="width: 200px;text-align: center;border: 1px solid;">Telefone</th>
                    <th style="width: 150px;text-align: center;border: 1px solid;">CPF</th>
                    <th style="text-align: center;border: 1px solid;">Endereço</th>
                    <th style="text-align: center;border: 1px solid;">Email</th>
                    <th style="text-align: center;border: 1px solid;    ">Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let remetente of remetentes | async">
                    <td style="text-align: center;border: 1px solid;">{{remetente.nomeCompleto}}</td>
                    <td style="text-align: center;border: 1px solid;">{{remetente.telefone | mask: "(00) 00000-0000"}}</td>
                    <td style="text-align: center;border: 1px solid;">{{remetente.cpf | mask: "000.000.000-00"}}</td>
                    <td style="text-align: center;border: 1px solid;">{{remetente.endereco}}</td>
                    <td style="text-align: center;border: 1px solid;">{{remetente.email}}</td>
                    <td style="text-align: center;border: 1px solid;"><button (click)="deleteRemetente(remetente.id)" class="btn btn-danger" style="margin-top: 3px; height: 40px; width: 200px;">Apagar</button>
                        <!-- <button (click)="updateRemetente(remetente.id)" class="btn btn-dark" style="margin-top: 3px; height: 40px; width: 200px;">Atualizar</button> -->
                        <button (click)="remetenteDetails(remetente.id)" class="btn btn-info" style="margin-top: 3px; height: 40px; width: 200px;">Detalhes</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>