<h3>Detalhes do Remetente</h3>

<hr/>
<div *ngIf="remetente">
    <div>
        <label><b>Nome Completo: </b></label> {{remetente.nomeCompleto}}
    </div>
    <div>
        <label><b>Telefone: </b></label> {{remetente.telefone | mask: "(00) 00000-0000"}}
    </div>
    <div>
        <label><b>CPF: </b></label> {{remetente.cpf | mask: "000.000.000-00"}}
    </div>
    <div>
        <label><b>Endereço: </b></label> {{remetente.endereco}}
    </div>
    <div>
        <label><b>Email: </b></label> {{remetente.email}}
    </div>
</div>

<br>
<br>
<button [routerLink]="['/updateRemetente/', remetente.id]" class="btn btn-dark" style="width: 256px;">Atualizar</button>
<br>
<button (click)="list()" class="btn btn-primary" style="margin-top: 3px;">Voltar para a lista de remetentes</button><br>

